<!DOCTYPE html>
<html>

<head>
    <title>Compare Results</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        
        th,
        td {
            border: 1px solid black;
            padding: 8px;
        }
        
        th {
            text-align: left;
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>People not following you:</h1>
    <table>
        <tr>
            <th>Users</th>
            <th>Links</th>
        </tr>
        {%for i in range(not_in_followers|length) %}
        <tr>
            <td>{{ not_in_followers[i] }}</td>
            <td><a href="{{ not_in_followers_link[i] }}">{{ not_in_followers_link[i] }}</a></td>
        </tr>
        {% endfor %}

    </table>

</body>

</html>