<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tutorial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
              <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav">

                <div><a class="nav-item nav-link" id="home" href="/">Instagram Unfollower Finder</a></div>
                <a class="nav-item nav-link" id="tutorial" href="/tutorial">Tutorial</a>
                <a class="nav-item nav-link" id="about" href="/about">About</a>
            </div>
        </div>
    </nav>
    <br><br>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="container-fluid bg-light py-5">
                    <h2 class="text-center">Tutorial: How to Use the Tool</h2>
                    <br><br>
                    <ol class="list-unstyled">
                        <li>Step 1: Open Instagram through website </li>
                        <li>Step 2: Go to Settings</li>
                        <li>Step 3: Go to Privacy and Security</li>
                        <li>Step 4: Click on "Request download" in Data download</li>
                        <li>Step 5: Select "JSON" as the Information format and Request Download</li>
                        <li>Step 6: Download the file from the email sent to you by Instagram</li>
                        <li>Step 7: Extract all folders from the zip file</li>
                        <li>Step 8: In the Instagram Unfollower Finder tool. Choose the followers and following file from the extracted folder named "followers_and_following"</li>
                        <li>Step 9: Click the "Compare" button</li>
                        <li>Step 10: Review the output</li>
                    </ol>
                    <p>The tutorial is the same for mobile phones and PCs</p>
                </div>
                <p>Note: Instagram should be opened on website as you cannot request your data on the mobile app</p>
                <a href="https://youtu.be/dYLxDBYqITg" class="btn btn-danger">Watch PC Tutorial Video</a>
                <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-secondary">Watch Mobile Tutorial</a>-->
            </div>
        </div>
    </div>
    </div>
</body>

</html>